temperature: 0
max_tokens: 0
#示意，大概基于官方减去 20k
max_context_window: 200000
base_url: https://dashscope.aliyuncs.com/compatible-mode/v1
api_key: 
models:
- openai/qwen-plus
figure_models:
- google/具体参考 qwen 提供的生图模型
compressor_models:
- openai/qwen-plus
read_figure_models:
- openai/qwen-plus
